:root {
  --insight-orange: #f4bb28;
  --insight-orange-dark: #efae0b;
  --insight-grey: #545454;
  --insight-grey-dark: #404040;
  --insight-grey-light: #ced4da;
  --fdr1: #375523;
  --fdr2: #01fc7a;
  --fdr3: #e7e7e7;
  --fdr4: #ff1751;
  --fdr5: #80072d;
}

/* fixture difficulty ratings (fdr) */
.fdr1 {
  @apply text-white;
  background-color: var(--fdr1);
}
.fdr2 {
  @apply text-black;
  background-color: var(--fdr2);
}
.fdr3 {
  @apply text-black;
  background-color: var(--fdr3);
}
.fdr4 {
  @apply text-white;
  background-color: var(--fdr4);
}
.fdr5 {
  @apply text-white;
  background-color: var(--fdr5);
}

/* panels - white box that holds content on the page */
.panel {
  @apply w-full bg-white rounded-md shadow-md p-4;
}
.panel .title {
  @apply text-lg font-bold mb-2 w-full;
}

/* inputs and headless-ui components */
/* combo */
.combo_input {
  @apply border border-gray-500 rounded w-full p-2 truncate flex justify-between items-center;
}
.combo_options {
  @apply absolute top-12 z-10 bg-white border border-gray-500 rounded w-full max-h-60 overflow-y-auto;
}

/* list */
.list_button {
  @apply border border-gray-500 rounded w-full p-2 truncate flex justify-between items-center;
}
.list_options {
  @apply absolute top-16 mt-1 z-10 bg-white border border-gray-500 rounded w-full max-h-60 overflow-auto;
}
.list_option {
  @apply p-2 flex items-center justify-between items-center cursor-pointer hover:bg-gray-200;
}

/* min max inputs */
.number_input {
  @apply border border-gray-500 rounded p-2;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
