:root {
  --insight-orange: #f4bb28;
  --insight-orange-dark: #efae0b;
  --insight-grey: #545454;
  --insight-grey-light: #ced4da;
}

/* panels - white box that holds content on the page */
.panel {
  @apply w-full bg-white rounded-md shadow-md p-4;
}
.panel .title {
  @apply text-lg font-bold mb-2 w-full border-b;
  border-color: var(--insight-grey);
}